IO_LOC "clk" 52;
IO_LOC "led[0]" 10;
IO_LOC "led[1]" 11;
IO_LOC "led[2]" 13;
IO_LOC "led[3]" 14;
IO_LOC "led[4]" 15;
IO_LOC "led[5]" 16;
IO_LOC "key" 3;
IO_LOC "rst" 4;

IO_LOC "seven_segm_mosi" 51;
IO_PORT "seven_segm_mosi" IO_TYPE=LVCMOS33;

IO_LOC "seven_segm_ss" 53;
IO_PORT "seven_segm_ss" IO_TYPE=LVCMOS33;

IO_LOC "seven_segm_sclk" 54;
IO_PORT "seven_segm_sclk" IO_TYPE=LVCMOS33;



